.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

    /*grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));*/
}

a {
    text-decoration: none;
    color: white;
}

iframe {
    width: 75vh;
    height: 60vh;
    margin: 2.5vh;
    
    margin-top: auto;

    transition: all 1s ease;
}

.grid-box {
    width: 80vh;
    height: 70vh;
    
    display: flex;
    flex-direction: column; 
    
    background-color: #1e1e26ec;
    border-radius: 15px;
    box-shadow: 2px 10px 12px rgba(0,0,0, 0.5);
    
    transition: all 1s ease;
    
    margin: 1rem;
    font-size: 16px;
}
.grid-box:hover {
    transform: scale(1.2);
}


.grid-box h2 {
    display: flex;
    align-items: flex-start;
    
    text-align: center;
    align-items: center;
    justify-content: center;
    
    color: #fff;

    font-size: 24px;
    margin: 2vh;
}
img {
    display: flex;
    
    margin: 5vh;
    
    height: 45vh;
    transition: all 1s ease;
}
.description {

    font-size: 24px;

    padding-left: 4rem;
    padding-right: 4rem;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}



@media screen and (max-width: 770px) {
    .grid-box {
        width: 70vh;
    }
    iframe {
        width: 68vh
    }
    img {
        height: 40vh;
    }
}
@media screen and (max-width: 670px) {
    .grid-box {
        width: 60vh;
    }
    iframe {
        width: 58vh;
    }
    img {
        height: 35vh;
    }
}
@media screen and (max-width: 570px) {
    .grid-box {
        width: 50vh;
    }
    iframe {
        width: 48vh
    }
    img {
        height: 30vh;
    }
}
@media screen and (max-width: 470px) {
    .grid-box {
        width: 40vh;
    }
    iframe {
        width: 38vh;
    }
    img {
        height: 25vh;
    }
}
@media screen and (max-width: 370px) {
    .grid-box {
        width: 30vh;
    }
    iframe {
        width: 28vh;
    }
    img {
        height: 20vh;
    }
}