@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 7vh;
    font-family: 'Roboto Mono' sans-serif;
    font-weight: 400;
    font-size: 3vh;
}
nav {
    margin-top: 1vh;
    position: fixed;
    display: flex;
    justify-content: center;
    height: 5vh;
    width: 100vw;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 65vw;
    background-color: #0f0f3f;
    border-radius: 25px;
}
.menu-item {
    color: #fafafa;
    text-decoration: none;
    text-align: center;
    transition: ease-out 500ms;
}
.menu-items:hover > .menu-item:hover {
    transform: scale(1.2);
    color: #cacafa;
}

main {
    padding-top: 8vh;
    padding-bottom: 8vh;
    background-color: #0d1f3f;
    color: #f0f0c0;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 5vh;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10vh;
    width: 10vh;
}
section > p {
    width: 70%;
}
.fancy-link {
    color: #f0f0c0;
    font-weight: 700;
}
#section-title {
    font-weight: 600;
    font-size: 5vh;
}
#home, #about, #projects {
    background-color: #1d2f4f;
    border-radius: 25px;
    padding: 2vh;
    width: 50vw;
    height: 80vh;
}
@media (max-width: 900px) {
    * {
        font-size: 2.5vh;
    }
    #section-title {
        font-size: 4vh;
    }
}
@media (max-width: 500px) {
    * {
        font-size: 2vh;
    }
    #section-title {
        font-size: 3vh;
    }
}
