@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

:root {
    --bg-color: #252738;
    --text-color: #D2CBB0;
    --typing-duration: 3s;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    display: flex;
    font-family: 'Roboto Mono', monospace;
    font-size: 2vh;
    color: var(--text-color);
}
main {
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-color);
    padding-bottom: 10vw;
    gap: 50vh;
}
h1 {
    font-weight: 700;
    font-size: 5vh;
}
h2,h3{
    font-weight: 700;
    font-size: 3vh;
    text-transform: uppercase;
}
#home {
    height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    gap: 10vh;
}
#home > h1 {
    font-size: 6vh;
    position: relative;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    letter-spacing: 0.5vw;
}
#home h1::before,
#home h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#home > h1::before {
    background-color: var(--bg-color);
    animation: 
        typewriter 
        var(--typing-duration) 
        steps(20) 1s forwards;
}
#home > h1::after {
    width: 0.075em;
    background-color: var(--text-color);
    animation: 
        typewriter 
        var(--typing-duration) 
        steps(20) 1s forwards,
        
        blink
        750ms
        steps(20) infinite;
}
#home > p {
    font-size: 3vh;
    opacity: 0;
    transform: translateY(10vh);
    animation: 
        fadeInUp 
        1s 
        ease calc(var(--typing-duration) + 1s)
        forwards;
}
.scroll-down {
    text-decoration: none;
    color: var(--text-color);
    position: relative;
    top: 15vh;
    opacity: 0;
    transform: translateY(20vh);
    animation: 
        fadeInUp 
        1s 
        ease calc(var(--typing-duration) + 1.5s)
        forwards;
}
.scroll-down > i {
    font-size: 10vh;
    transition: all 0.5s ease;
}
.scroll-down > i:hover {
    transform: scale(1.75) rotate(10deg);
}
@keyframes typewriter {
    to {
        left: 100%;
    }
}
@keyframes blink {
    to {
        background-color: transparent;
    }
}
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}
#about {
    height: 100vh;
    gap: 15vh;
}
.flex-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#home > h1, #articles > h1, #about > h1 {
    transition: all ease 0.2s;
}
#articles > h1:hover, 
#about > h1:hover {
    transform: rotate(-1.5deg) scale(1.15);
    cursor: pointer;
}
